export(AlphaDrawdown)
export(BenchmarkSR)
export(BetaDrawdown)
export(CDaR)
export(CdarMultiPath)
export(chart.BenchmarkSR)
export(chart.Penance)
export(chart.REDD)
export(chart.SRIndifference)
export(dd_norm)
export(diff_Q)
export(DrawdownGPD)
export(EconomicDrawdown)
export(EDDCOPS)
export(get_minq)
export(getQ)
export(get_TuW)
export(golden_section)
export(MaxDD)
export(MinTrackRecord)
export(MonteSimulTriplePenance)
export(MultiBetaDrawdown)
export(na.skip)
export(ProbSharpeRatio)
export(PsrPortfolio)
export(REDDCOPS)
export(rollDrawdown)
export(rollEconomicMax)
export(table.Penance)
export(table.PSR)
export(TuW)
export(tuw_norm)
useDynLib(noniid.pm)
