export(AlphaDrawdown)
export(BenchmarkSR)
export(BetaDrawdown)
export(CDaR)
export(CdarMultiPath)
export(chart.BenchmarkSR)
export(chart.Penance)
export(chart.REDD)
export(chart.SRIndifference)
export(DrawdownGPD)
export(EconomicDrawdown)
export(EDDCOPS)
export(golden_section)
export(MaxDD)
export(MinTrackRecord)
export(MonteSimulTriplePenance)
export(MultiBetaDrawdown)
export(Penance)
export(ProbSharpeRatio)
export(PsrPortfolio)
export(REDDCOPS)
export(rollDrawdown)
export(rollEconomicMax)
export(table.Penance)
export(table.PSR)
export(TuW)
useDynLib(noniid.pm)
