export(ACStdDev.annualized)
export(CDrawdown)
export(CalmarRatio.Norm)
export(EmaxDDGBM)
export(GLMSmoothIndex)
export(LoSharpe)
export(QP.Norm)
export(Return.GLM)
export(Return.Okunev)
export(SterlingRatio.Norm)
export(UnsmoothReturn)
export(chart.AcarSim)
export(chart.Autocorrelation)
export(glmi)
export(lmi)
export(se.LoSharpe)
export(table.ComparitiveReturn.GLM)
export(table.EMaxDDGBM)
export(table.Sharpe)
export(table.UnsmoothReturn)
