export(Central2Raw)
export(CMAcombination)
export(CMAseparation)
export(ComputeMoments)
export(ComputeMVE)
export(CondProbViews)
export(Cumul2Raw)
export(DetectOutliersViaMVE)
export(EntropyProg)
export(GenerateLogNormalDistribution)
export(hermitePolynomial)
export(integrateSubIntervals)
export(linreturn)
export(MvnRnd)
export(NoisyObservations)
export(normalizeProb)
export(PanicCopula)
export(PartialConfidencePosterior)
export(PlotDistributions)
export(Raw2Central)
export(Raw2Cumul)
export(RejectOutlier)
export(RIEfficientFrontier)
export(robustBayesianPortfolioOptimization)
export(std)
export(subIntervals)
export(SummStats)
export(Tweak)
