export(ACStdDev.annualized)
export(CalmarRatio.Normalized)
export(CDrawdown)
export(chart.Autocorrelation)
export(EMaxDDGBM)
export(GLMSmoothIndex)
export(QP.Norm)
export(SterlingRatio.Normalized)
export(table.ComparitiveReturn.GLM)
export(table.EMaxDDGBM)
export(table.NormDD)
export(table.UnsmoothReturn)
