export(AcarSim)
export(ACStdDev.annualized)
export(CalmarRatio.Norm)
export(CalmarRatio.Normalized)
export(CDD.Opt)
export(CDDOpt)
export(CDrawdown)
export(chart.Autocorrelation)
export(EMaxDDGBM)
export(GLMSmoothIndex)
export(LoSharpe)
export(QP.Norm)
export(Return.Okunev)
export(SterlingRatio.Norm)
export(SterlingRatio.Normalized)
export(table.ComparitiveReturn.GLM)
export(table.EMaxDDGBM)
export(table.NormDD)
export(table.UnsmoothReturn)
